/*ここまでは共通部分*/

#votereasonform{

    padding:10px;
    background:#fff;
    margin: 100px auto;
    width:1000px;
}

.list-title{
    color: #49C2EF;
    border-bottom: 4px solid #49C2EF;
    text-align:center;
    width:90% ;
    margin:0 auto;
}

#ans{
    margin: 50px auto;
    text-align: center;
    font-size:30px;
    color:#0B5F7E;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #49C2EF;
    width:80%;
}

#reasonform{
    text-align:center;
}

.reason{
    margin:0;
    cursor: pointer;
    background:none;
    color:#0B5F7E;
    font-size: 25px;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom:1px solid #49C2EF;
    width: 80%;
    margin: 20px;
    transition: .3s;
}
.reason:hover{
    background:#0B5F7E;
    color:#fff;
}

.link{
    text-align: center;
}
#morelink{
    color:#49C2EF;
    margin: 0 auto;
    text-decoration: none;

}
