{% extends 'threads/base.html'%}
{%load static%}

  {% block content %}
  <link rel="stylesheet" href="{% static 'css/pages.css'%}">
    <div id ="content">
        <div class="board">
            <h1 class="list-title">管理人より</h1>
            <h2>はじめに</h2>
            <p>はじめまして、本サイトを管理している者です。</br>
                このページでは、利用方法と利用規約とは別にこのサイトの利用にあたっての注意点を書かせていただきたいと思います。</br>
            </p>
            <h2>利用方法</h2>
              <h3>投票の仕方</h3>
                <p>
                  １．まずは投票する質問をTOPページ、新着投票、話題投票、または検索から見つけてください。</br>
                  ２．その質問をクリックまたはタップして、あなたの支持する選択肢を同様に選んでください。</br>
                  ３．選択肢の中にあなたの支持する選択肢がない場合、質問の作成者によって許可されていれば、選択肢を追加することも出来ます。
                      選択肢を追加する場合は選択肢の投票画面の下部にある、「選択肢の追加」を押してください。
                      もしない場合は選択肢の追加をその質問では許可されていません。</br>
                  ４．理由の追加を質問の作成者が許可していた場合、選択肢を選ぶと、理由を選択するが可能です。</br>
                  ５．あなたが支持する理由がない場合、選択肢と同様に自由に追加することが出来ます。</br>
                  ※同じ質問には一度しか投票できません。ご注意ください</br>
                </p>
              <h3>結果の見方</h3>
                <p>
                  １．上記の手順で投票を行うと、結果が表示されます。（投票をしていなくても既に投票が終了している場合も表示されます。）</br>
                  ２．上にある円グラフでは、投票数順で上位5位までを表示し、それ以下は「その他」に収集して表示されています。</br>
                  ３．下にある棒グラフでは、全ての選択肢とその投票数を表示しています。</br>
                  ４．質問作成者が理由の追加を許可していた場合、選択肢に紐づく理由が存在すれば、下のグラフから選択しをクリックすることで、理由の内訳を選択肢と同じように表示します。</br>
                  ５．理由を表示してから選択肢の表示に戻る場合、左上にあるボタンを押してください。
                </p>
              <h3>異なる質問の作成方法</h3>
                <p>
                  １．メニューから「新規作成」をクリックしてください</br>
                  ２．選択肢の追加を許可するかしないか、理由の追加を許可するかしないかを選択肢してください。</br>
                  ３．回答期限を選択してください。</br>
                  ４．まず、大カテゴリを選択してください。その次に小カテゴリを選択してください。</br>
                  ５．質問内容をテキストボックスに入力してください。</br>
                  ６．選択肢を入力してください。当サイトはあくまで、投票がメインなので最低二つは選択肢を作成しなければなりません。</br>
                  ７．もし、選択肢を追加したい場合は下の「選択肢を追加」を押してください。</br>
                  ※最高で１０個まで選択肢を質問作成時に登録出来ます。</br>
                  ８．質問内容や選択肢などに誤りがないか確認して作成ボタンを押してください。</br>
                  ※一度作成した質問は取り消すことが出来ません。</br>
                </p>
              <h3>同一の質問の作成方法</h3>
                <p>
                  １．既に存在する質問を行いたいかつその質問の投票が終了している場合。まず、その質問をクリックしてください。</br>
                  ２．すると結果が表示されるはずですので、円グラフの上にある「質問一覧」をクリックしてください。</br>
                  ３．そうすると同一の質問内容に紐づいた、質問が表示されます。</br>
                  ４．質問が終了している場合は「クローンを作成！」というボタンが表示されているはずなのでそれをクリックしてください。</br>
                  ５．すると元となった質問と同一の質問内容かつ同様の条件がつき、回答数順で上位１０個までの選択肢がある状態で質問が作成されます。</br>
                </p>
            <h2>利用の注意点</h2>
            <p>
                １．同じ内容の質問を新規で作成するのはお控えください。</br>
                ※上記「同一の質問の作成方法」にしたがって、作成してください。
                ２．投票は一人につき一回だけでお願いします。</br>
                ※普通に利用される場合は、自動的に一人一回までしか投票できない様になっています。</br>
                ３．新規作成時に設定するカテゴリに沿った、質問内容にしてください。</br>
            </p>
            <h2>最後に</h2>
            <p>皆さまには以上のような点を心がけていただきます様にお願すると同時に、私自身も皆さまが快適に当サイトをご利用いただける様、サイト運営に望む所存であります。</p>
        </div>
    </div>

    <!-- <script src="{% static 'js/latestquestions.js'%}"></script> -->
  {% endblock %}
