{% extends 'threads/base.html'%}
{%load static%}


  {% block content %}
  <link rel="stylesheet" href="{% static 'css/pages.css'%}">
    <div id ="content">
        <div class="board">
            <h1 class="list-title">利用規約</h1>
              <p>
                この利用規約（以下，「本規約」といいます。）は，管理人がこのウェブサイト上で提供する
                サービス（以下，「本サービス」といいます。）の利用条件を定めるものです。ユーザーの皆
                さまには，本規約 に従って，本サービスをご利用いただきます。
              </p>
              <h2>第 1 条（適用）</h2>
                <p>
                • 本規約は，ユーザーと管理人との間の本サービスの利用に関わる一切の関係に適
                用されるものとします。</br>
                • 管理人は本サービスに関し，本規約のほか，ご利用にあたっての ルール等，各種の
                定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定は
                その名称のいかんに関わらず，本規約の一部を構成するものとします。</br>
                • 本規約の規定が前条の個別規定の規定と矛盾する場合に は，個別規定において
                特段の定めなき限り，個別規定の規定が優先されるものとします。
              </p>
              <h2> 第 2 条（利用料金）</h2>
                <p>• 本サービスの利用料金は無料です。</p>
              <h2> 第 3 条（禁止事項）</h2>
                <p>
                  ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</br>
                • 法令または公序良俗に違反する行為</br>
                • 犯罪行為に関連する行為 • 本サービスの他のユーザー，または第三者のサーバ
                ーまたは ネットワークの機能を破壊したり，妨害したりする行為</br>
                • 本サービスの運営を妨害するおそれのある行為 • 他のユーザーに関する個人
                情報等を収集または蓄積する行為</br>
                • 不正アクセスをし，またはこれを試みる行為</br>
                • 管理人のサービスに関連して，反社会的勢力に対して直接また は間接に利益を供
                与する行為</br>
                • 管理人，本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライ
                バシー，名誉その他の権利または利益を侵害する行為</br>
                • 以下の表現を含み，または含むと管理人が判断する内容を本サービス上に投稿す
                る行為</br>
                • 過度に暴力的な表現</br>
                • 露骨な性的表現 • 人種，国籍，信条，性別，社会的身分，門地等による 差
                別につながる過度な表現</br>
                • 自殺，自傷行為，薬物乱用を誘引または助長する表現</br>
                • その他反社会的な内容を含み他人に不快感を与える表現</br>
                • 以下を目的とし，または目的とすると管理人が判断する行為</br>
                • 営業，宣伝，広告，勧誘，その他営利を目的とする行為（管理人の認めたものを除きます。）</br>
                • 本サービスの他のユーザー，または第三者に不利益， 損害または不快感を与えることを目的とする行為</br>
                • その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</br>
                • その他，公序良俗に反する行為</br>
              </p>

              <h2>第 4 条（本サービスの提供の停止等）</h2>
                <p>
                  • 管理人は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知す
                  ることなく本サービスの全部または一部の提 供を停止または中断することがで
                  きるものとします。</br>
                  • 本サービスにかかるコンピュータシステムの保守点検 または更新を行う場合</br>
                  • 地震，落雷，火災，停電または天災などの不可抗力に より，本サービスの提供
                  が困難となった場合</br>
                  • コンピュータまたは通信回線等が事故により停止した 場合</br>
                  • その他，管理人が本サービスの提供が困難と判断した場合</br>
                  • 管理人は，本サービスの提供の停止または中断により，ユーザーまたは第三者が
                  被ったいかなる不利益または損害について も，一切の責任を負わないものとし
                  ます。</br>
                </p>
              <h2>第 5 条（著作権）</h2>
                <p>• 本サービスおよび本サービスに関連する一切の情報について の著作権および
                その他の知的財産権はすべて作成者に帰属し， ユーザーは無断で複製，譲渡，貸
                与，翻訳，改変，転載，公衆送 信（送信可能化を含みます。），伝送，配布，出版，
                営業使用等 をしてはならないものとします。</p>
              <h2> 第 6 条（投稿内容の変更または削除）</h2>
                <p>• 管理人は，ユーザーが以下のいずれかに該当する場合には、事前の通知なく，
                投稿データを変更、または削除するとこができるとします。</br>
                • 本規約のいずれかの条項に違反した場合</br>
                • その他、管理人が不適切であると判断した場合</br>
                </p>
              <h2>• 第 7 条（保証の否認および免責事項）</h2>
                 <p>•
                    セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がな
              いことを明示的にも黙示的にも保証しておりません。</br>
              • 管理人は，本サービスに起因してユーザーに生じたあらゆる損害について一切の責
              任を負いません。</br>
              • 前項ただし書に定める場合であっても，管理人は，管理人の過失（重過失を除きます。）
              による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情
              から生じた損害（管理人 またはユーザーが損害発生につき予見し、または予見し得
              た場合を含みます。）について一切の責任を負いません。</br>
              • 管理人は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間に
              おいて生じた取引，連絡または紛争等について 一切責任を負いません。</br>
              </P>
              <h2>第 8 条（サービス内容の変更等）</h2>
               <p>管理人は，ユーザーに通知することなく，本サービスの内容を変更、または本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。
              </P>
              <h2>第 9 条（利用規約の変更）</h2>
                <p> 管理人は，必要と判断した場合には，ユーザーに通知するこ
              となくいつ でも本規約を変更することができるものとします。なお，本規約の変更後，本
              サービスの利用を開始した場合には，当該ユーザーは変更後 の規約に同意したものとみな
              します。</p>
              <h2>第１０条（準拠法・裁判管轄）</h2>
                <p> • 本規約の解釈にあたっては，日本法を準拠法とします。</br>
                <p>
              <h2>以上</h2>


                      </div>
                  </div>

    <!-- <script src="{% static 'js/latestquestions.js'%}"></script> -->
  {% endblock %}
